.App {
  width: fit-content;
  margin: 0 auto;
}

.App__header {
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin: 100px 0 50px 0;
}